body {
  background-image: url('C:\Front-Back\fun\src\Untitled.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Center content vertically */
  z-index: 0; /* Lower z-index for Main.js background */
}


.title-box {
  width: 100%;
  background-color: #007bff;
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out; /* Animation added */
}

.title {
  font-size: 24px;
}

.main-container {
  width: 98%; /* Increase the form width */
  max-width: 400px; /* Adjust the maximum width as needed */
  padding: 20px;
  padding-right: 40px;
  background-color: rgba(13, 134, 25, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.column {
  width: 100%;
  max-width: 400px; /* Limiting the width of each column */
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

button {
  background-color: #007bff;
  color: white;
  padding-left: 20px;
  width: 75%;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
